.App {
  text-align: center;
  font-family: "Caveat", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.log {
  display: flex; /* Hidden by default */
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #8b825e; /* Fallback color */
  justify-content: center;
  align-items: center;
  opacity: 0.99;
  transition: opacity 2s linear;
}

#glow {
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.site {
  overflow: hidden;
  z-index: 8;
  position: relative;
  padding: 0 40px;
}

.controls {
  padding: 40px 24px;
  gap: 20px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.controls > *:hover {
  transform: rotate(-8deg) !important;
}

.controls > * {
  position: relative;
}

.site-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  position: relative;
  width: min(880px, 100%);
  margin-inline: auto;
  height: 100%;
  margin-bottom: 120px;
}

#controlslink {
  width: 68px;
}

#Mintery {
  max-width: 400px;
  width: 100%;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

#Masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#Logo {
  width: min(400px, 100%);
  margin-inline: auto;
  position: relative;
}

#mobileLogo {
  display: none;
}

#Actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px auto 0;
}

#Follow {
  padding: 8px;
  text-align: Center;
  font-size: 28px;
  font-weight: 700;
  background: #000;
  color: #fff;
}

.note {
  width: 100%;
  font-weight: 400;
  font-size: clamp(20px, 3vmin, 22px);
  line-height: 1.125;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: #fff;
  border-radius: 8px 12px 11px 8px;
  border: 2px solid #000;
}

.note p {
  margin: 10;
}

strong {
  font-weight: bold;
}

.divide {
  height: 3px;
  width: calc(100% - 32px);
  background: black;
  margin: 0 auto;
  border-radius: 1.5px;
  max-width: 100%;
}

.note main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.note main p {
  flex: 3;
}

.note header,
.note main,
.note footer {
  padding: 16px;
}

.claimbutton {
  font-size: 28px;
  font-family: "Caveat", cursive;
  border: 2px solid #000;
  padding: 8px;
  margin: 15px;
  background: darkolivegreen;
  color: white;
  border-radius: 9px 7px 5px 8px;
  box-shadow: 0 2px 0 #000;
  width: 90%;
  height: 56px;
  cursor: pointer;
  position: relative;
  text-align: center;
  filter: drop-shadow(4px 6px 0 rgba(0, 0, 0, 0.125));
}

.claimbutton:hover > span {
  text-transform: uppercase;
}

button:hover,
.claimbutton:hover,
#connect-btn:hover {
  animation: flicker 0.25s linear infinite;
  background: #81afa4;
  color: white;
}

.link {
  text-decoration: none;
  border: 0;
  border-bottom-width: 3px;
  border-style: solid;
  padding: 2px;
  color: black;
  border-color: #81afa4;
}

.link:hover {
  background-color: #81afa4;
  border-color: #81afa4;
}

@keyframes flicker {
  50% {
    transform: rotate(0.5deg);
    font-weight: 700;
  }
}

#City {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  transform-origin: bottom;
  display: revert;
}

#City img {
  width: 100%;
  margin-top: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

#City > * {
  position: absolute;
  inset: 0;
}

#sun {
  position: absolute;
  inset: 0;
  top: 0;
  width: 100%;

  position: fixed;
}

#Underground {
  z-index: 800;
  position: relative;
  display: revert;
}

#WormFamily {
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Sign {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: min(700px, 100%);
  object-fit: cover;
  object-position: top;
  margin: -70px auto auto auto;
}

#Family {
  width: min(660px, 90%);
  position: relative;
  margin: auto;
  display: block;
}

/*  radiobutton  */

fieldset {
  box-sizing: border-box;
  border: none;
  min-width: 0;
}

fieldset legend {
  padding: 0;
  width: 100%;
  float: left;
  display: table;
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 600;
  color: #333;
}
fieldset legend + * {
  clear: both;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* TOGGLE STYLING */
.toggle {
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  border: 2px solid #000;
  border-radius: 6px;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  margin: 0;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}
.toggle input:hover + label {
  border-color: #213140;
}
.toggle input:checked + label {
  background-color: darkolivegreen;
  color: #fff;
  box-shadow: 0 0 10px gold;
  border-color: gold;
  z-index: 1;
}
@media (max-width: 800px) {
  .toggle input + label {
    padding: 0.75rem 1rem;
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controls {
    padding: 10px 24px 0px 24px;
  }

  #mobileLogo {
    display: block;
  }

  #Logo {
    display: none;
  }
}

/*  mobile  */

@media (max-width: 760px) {
  body .site-container {
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .site-container {
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .site {
    padding: 0 16px;
  }

  #Sign {
    width: min(400px, 150%);
    margin: -35px auto auto auto;
  }
}

@media (max-width: 760px) {
  body #Mintery {
    order: 0;
  }
}

/* +Gn6Vol1&)wr  */
